DATABASE_URL="postgresql://user:password@localhost:5432/elo_tech"
REDIS_HOST="localhost"
REDIS_PORT="6379"

FRONTEND_URL="http://localhost:3000"
PORT=4000

MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORT_CODE=""
MPESA_PASSKEY=""
MPESA_CALLBACK_URL=""

AFRICASTALKING_API_KEY=""
AFRICASTALKING_USERNAME="sandbox"
AFRICASTALKING_SENDER_ID=""

WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_BUSINESS_ACCOUNT_ID=""
